* {
  margin: 0;
  padding: 0;
}

.main {
  background-image: url(assets/images/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(1200px, 100vw);
  position: relative;
  height: 80vh;
}

.main .box {
  height: 80vh;
  width: 100%;
  opacity: 0.44;
  background-color: black;
  position: absolute;
  top: 0;
}
nav{
  display: flex;
  justify-content: space-netween;
  align-items: center;
  max-width: 80vw;
  margin: auto;
  height: 112px;
  max-width: 80vw;
 

  
}
nav img{
  color: red;
  width: 114px;
  position: relative;
  z-index: 10;
  
}
nav button{
  position: relative;
  z-index: 10;
  
  
  

}
.hero{

  font-family: 'Martel Sans', sans-serif;



  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
}
.hero :nth-child(1){
  font-weight: 900;
  font-size: 48px;
 
}
.hero :nth-child(2){
  font-weight: 500;
  font-size: 24px;
  
}
.hero :nth-child(3){
  font-weight: 500;
  font-size: 20px;
  
}
